$font-stack:  'Montserrat', 'Helvetica Neue', Arial, sans-serif;

html,body {
    margin: 0;
    padding:0;
    width:100vw;
    scroll-behavior: smooth;
}

#navbar {
  overflow: hidden;
  background-color: #EA4A27;
  width: 100%;
  height: 15vh;
  transition: 0.4s;
  position: fixed;
  top: 0;
  z-index: 1;
  //margin-bottom: auto;
}

#navbar ul li {
  list-style: none;
}


/* Navbar links */
.nav-text {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
  font: 100% $font-stack;
  font-size:32px;
}

#home {
  width: 100%;
  height: 100vh;
  margin:0;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;

  /* Background styles */
  background-image: url(assets/bgimage.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 10vh;
}

#banner h1 {
  color: #EA4A27;
  text-align: center;
  vertical-align: middle;
  font: 100% $font-stack;
  font-size:72px;
}



.carousel-container {
  position: relative;
}

.carousel-slide {
  justify-content: center;
  align-items: center;


  /* Background styles */
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
  width: 100%;
  height: 75vh;
}



#slide1 {
  background-image: url(assets/banner1.png);
}
#slide2 {
  background-image: url(assets/banner2.png);
}
#slide3 {
  background-image: url(assets/banner3.png);
}

.slide_text {
  display: inline-block;
  width: 50%;
  height: 100%
  //max-height: 100%;
}

.slide_text article {
  font: 100% $font-stack;
  color: white;
  font-size: 48px;
  margin-top: -22px;
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  vertical-align: top;
  transform: translate(-50%, -50%);

}

.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  -webkit-text-stroke: 2px black;
  font-weight: bold;
  font-size: 24px;

}

.next {
  right: 0;
}

.previous:hover, .next:hover {
  color: black;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


#officers-caption {
  width: 100%;
  height:8vw;
  color: white;
  text-align: center;
  vertical-align: middle;
  font: 100% $font-stack;
  font-size:36px;
  background-color: grey;
  overflow: hidden;
}

#officers {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 25vw;
  background-color: grey;
}

.img-circle {
    border-radius: 50%;
    width: 75%;
    height: auto;
}

.officer {
  display:flex;
  flex-direction: column;
  justify-content: center;

}

#contact {

}

/* Page content */
.content {
   //padding: 16px;
 }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
