$font-stack:  'Montserrat', 'Helvetica Neue', Arial, sans-serif;

html,body {
    margin: 0;
    padding:0;
    width:100%;
    height: auto;
    scroll-behavior: smooth;
}

#navbar {
  overflow: hidden;
  background-color: #EA4A27;
  width: 100%;
  height: 15vh;
  transition: 0.4s;
  position: fixed;
  top: 0;
  z-index: 1;
  //margin-bottom: auto;
}

#navbar ul li {
  list-style: none;
}


/* Navbar links */
.nav-text {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
  font: 100% $font-stack;
  font-size:32px;
}

#home {
  width: 100%;
  height: 100vh;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(assets/bgimage.PNG);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 10vh;
}

#banner h1 {
  color: #EA4A27;
  text-align: center;
  vertical-align: middle;
  font: 100% $font-stack;
  font-size:72px;
}



.carousel-container {
  position: relative;
  width: 100%
}

.carousel-slide {
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
  width: 100%;
  height: 80vh;
}



#slide1 {
  background-image: url(assets/banner1.PNG);
}
#slide2 {
  background-image: url(assets/banner2.PNG);
}
#slide3 {
  background-image: url(assets/banner3.PNG);
}

.slide_text {
  display: inline-block;
  width: 50%;
  height: 100%
}

.slide_text article {
  font: 100% $font-stack;
  color: white;
  font-size: 42px;
  margin-top: -22px;
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  vertical-align: top;
  transform: translate(-50%, -50%);

}

.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  -webkit-text-stroke: 2px black;
  font-weight: bold;
  font-size: 32px;

}

.next {
  right: 0;
}

.previous:hover, .next:hover {
  color: black;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}


#officers-caption {
  width: 100%;
  height:10vw;
  color: white;
  text-align: center;
  vertical-align: middle;
  font: 100% $font-stack;
  font-size:30px;
  background-color: #2F4F4F;
  overflow: hidden;

}

#officers {
  display: flex;
  width: 100%;
  height: 30vw;
  background-color: #2F4F4F;
}

.officer {
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: top;
  color: white;
  text-align: center;
  //vertical-align: middle;
  font: 100% $font-stack;
  font-size:28px;
}

.img-circle {
    border-radius: 50%;
    width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.img-circle:hover {
    opacity: .5;
}

//modal code
.modal {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


.modal-img {
  margin: auto;
  display: block;
  width: 75vh;
  max-width: 75vh;
}

.modal-img {
  animation-name: zoom;
  animation-duration: 0.8s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}



//


#contact {
 position: absolute;
 width: 100%;
 height: 100%;
 overflow: hidden;
}

video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
  //overflow: hidden;
}

#vid-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
}

#contact-text {
  font: 100% $font-stack;
  width: 100%;
  height: 100%;
  font-size: 72px;
  color: white;
  text-align: center;
  z-index: 0;
  position: absolute;
  top: 25%;
  display: table-cell;
}


#icons {
  display: flex;
  width: 100%;
  height: auto;
  vertical-align: middle;
  margin: auto;
}

#icons a {
  display:flex;
  flex-direction: column;
  color: white;
  width: 75%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#contact h3 {
  position: absolute;
  bottom: 0;
  text-align: center;
  font: 100% $font-stack;
  color: white;
  font-size: 20px;
}
